on:
  workflow_call:
    inputs:
      goVersion:
        required: false
        type: string
        description: "Golang version"
        default: "1.17"
      goReleaserVersion:
        required: false
        type: string
        description: "GoReleaser version"
        default: "latest"
      goReleaserArgs:
        required: false
        type: string
        description: "GoReleaser arguments"
        default: "release --rm-dist"
      dockerRegistryUrl:
        required: false
        type: string
        description: "Docker registry url to push images to"
    secrets:
      CONTAINER_REGISTRY_USER:
        required: false
      CONTAINER_REGISTRY_PASSWORD:
        required: false
      GITHUB_TOKEN:
        required: true

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ inputs.goVersion }}
      - name: Login to container registry
        if: ${{ inputs.dockerRegistryUrl != "" }}
        uses: docker/login-action@v1
        with:
          registry: ${{ inputs.dockerRegistryUrl }}
          username: ${{ secrets.CONTAINER_REGISTRY_USER }}
          password: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: ${{ inputs.goReleaserVersion }}
          args: ${{ inputs.goReleaserArgs }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_BUILDKIT: 1
