on:
  pull_request:
    branches:
      - main
#    paths:
#      - './github/workflows/go-test.yml'
#      - './github/workflows/internal_do_not_use-go-test.yml'
#      - './test/go-test/*'

jobs:
  test-workflow:
    uses: liatrio/github-workflows/.github/workflows/go-test.yml
    with:
      workingDirectory: test/go-test
