name: Release

on:
  workflow_call:
    inputs:
      directory:
        required: true
        type: string
      suffix:
        required: false
        type: string
        default: ""

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}
    steps:
      - uses: actions/checkout@v4
      - name: Find all module names/locations
        run: ls ${{ inputs.directory }} | jq -R -s -c 'split("\n")[:-1]' | yq -p=json '.[] as $i ireduce ({}; .[$i] = ["${{ inputs.directory }}" + $i + "${{ inputs.suffix }}"])' > .changed_files.yaml
      - name: Find changed modules
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files_yaml_from_source_file: .changed_files.yaml
      - id: matrix
        run: |
          CHANGED_MODULES=$(echo ${{ steps.changed-files.outputs.changed_keys }} | jq -R -c 'split(" ")')
          echo "value=$CHANGED_MODULES" >> $GITHUB_OUTPUT

  test:
    needs: [ setup ]
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ needs.setup.outputs.matrix }}"
  tag-releases:
    needs: [ setup ]
    if: needs.setup.outputs.matrix != '[]'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{fromJSON(needs.setup.outputs.matrix)}}
    steps:
      - uses: actions/checkout@v4
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ${{ matrix.value }}-v
